footer {
  .footerDiv {
    @include dFlex(space-between, center, 0, 0);
    text-align: center;
    flex-wrap: wrap;
    height: auto;
    background-image: url(../images/vector!.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 30px;
    width: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    .footerCard {
      width: 300px;
      height: 400px;
      background: #1a2217;
      // backdrop-filter: blur(3px);

      @include dFlex(flex-start, flex-start, 0, 15px);
      flex-direction: column;
      h4 {
        font-size: 25px;
        color: #800020;
      }
      h3,
      p {
        color: #800020;

        font-size: 15px;
        font-weight: 700;
      }
      h4,
      h3,
      p {
        &:hover {
          background-color: #f5f5dc;
        }
      }
      .right {
        row-gap: 20px;
        justify-content: flex-end;
        padding: 30px;

        h4 {
          font-size: 25px;
          color: #800020;
        }
        p {
          font-size: $fontSizeS;
          color: black;
          font-weight: 100;
        }
        .email-input {
          padding: 12px 20px;
          font-size: 18px;
          border: 2px solid #800020;
          background-color: #800020;
          color: white;
          border-radius: 8px;
          width: 100%;
          max-width: 400px;
          transition: all 0.3s ease;

          &::placeholder {
            color: #f1f1f1;
          }

          &:focus {
            outline: none;
            background-color: #9b1b30;
            border-color: #9b1b30;
          }

          &:hover {
            border-color: #9b1b30;
          }
        }
      }
    }
  }
}
